:root {
  --bg-color: navy;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  font-size: 1rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #000 2px solid;
}

.container {
  width: 500px;
  height: 300px;
  background-color: var(--bg-color);
  -webkit-clip-path: path(
    "M20 0 L480 0 L500 20 L500 200 L480 220 L350 220 L330 240 L330 280 L310 300 L20 300 L0 280 L0 20 L20 0 Z"
  );
  clip-path: path(
    "M20 0 L480 0 L500 20 L500 200 L480 220 L350 220 L330 240 L330 280 L310 300 L20 300 L0 280 L0 20 L20 0 Z"
  );
}
